<header class="Header">
  <a href="/Websites/webfinaltest/src/pages/Homepage.html" style="text-decoration: none; color: black;">
    <img src="logo.png" alt="logo">
  </a>
  <ul style="list-style-type: none; padding: 0; margin: 0;">
    <li><a href="/Websites/webfinaltest/src/pages/Homepage.html">Home</a></li>
    <li><a href="/Websites/webfinaltest/src/pages/History.html">History</a></li>
    <li><a href="/Websites/webfinaltest/src/pages/Travel.html">Travel</a></li>
    <li><a href="/Websites/webfinaltest/src/pages/Culture.html">Culture</a></li>
    <li><a href="/Websites/webfinaltest/src/pages/Economic.html">Economic</a></li>
    <li><a href="/Websites/webfinaltest/src/pages/Cuisine.html">Cuisine</a></li>
    <li></li>
  </ul>
</header>