<header class="Header">
  <a href="/Websites/webfinaltest/src/pages/Homepage.html" style="text-decoration: none; color: black;">
    <img src="logo.png" alt="logo">
  </a>
  <button class="menu-toggle" type="button" aria-label="Mở menu" aria-expanded="false" aria-controls="site-nav">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <ul class="site-nav" id="site-nav" style="list-style-type: none; padding: 0; margin: 0;">
    <li><a href="../pages/Homepage.html">Home</a></li>
    <li class="history-menu">
      <button class="history-toggle" type="button" aria-expanded="false" aria-controls="history-submenu">History</button>
      <ul class="history-submenu" id="history-submenu" style="list-style-type: none;">
        <li><a href="../pages/Historical_character.html">Historical character</a></li>
        <li><a href="../pages/local_history.html">Local history</a></li>
      </ul>
    </li>
    <li><a href="../pages/Travel.html">Travel</a></li>
    <li><a href="../pages/Culture.html">Culture</a></li>
    <li><a href="../pages/Economic.html">Economic</a></li>
    <li><a href="../pages/Cuisine.html">Cuisine</a></li>
    <li></li>
  </ul>
</header>