<header class="Header">
  <a href="/Websites/webfinaltest/src/pages/Homepage.html" style="text-decoration: none; color: black;">
    <img src="logo.png" alt="logo">
  </a>
  <ul style="list-style-type: none; padding: 0; margin: 0;">
    <li><a href="/Websites/webfinaltest/src/pages/Homepage.html">Home</a></li>
    <li class="history-menu">
      <a>History</a>
      <ul class="history-submenu" style="list-style-type: none;">
        <li><a href="/Websites/webfinaltest/src/pages/Historical_character.html">Historical character</a></li>
        <li><a href="/Websites/webfinaltest/src/pages/local_history.html">Local history</a></li>
      </ul>
    </li>
    <li><a href="/Websites/webfinaltest/src/pages/Travel.html">Travel</a></li>
    <li><a href="/Websites/webfinaltest/src/pages/Culture.html">Culture</a></li>
    <li><a href="/Websites/webfinaltest/src/pages/Economic.html">Economic</a></li>
    <li><a href="/Websites/webfinaltest/src/pages/Cuisine.html">Cuisine</a></li>
    <li></li>
  </ul>
</header>